<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{url_for('static', filename='img/S.ico')}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familia Soñora</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp">
</head>
<body>
    <h1>
        <div>
            <span class="material-icons-outlined orange">girl</span>
            <span class="material-icons-outlined green">accessibility_new</span>
            <span class="material-icons-outlined red">emoji_people</span>
            <span class="material-icons-outlined orange">girl</span>
        </div>
        <div class="text">            
            Bienvenidos al sitio de la familia Soñora.
        </div>
    </h1>
    <hr>
    <footer>
        <span><a href="mailto: santiagosonora@gmail.com">Contacto</a></span>
    </footer>
    
</body>
</html>
