<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="img/S.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="https://soñora.com/">
    <meta property="og:title" content="Familia Soñora">
    <meta property="og:site_name" content="Familia Soñora">
    <meta property="og:locale" content="es_AR">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Familia Soñora / Familia / Website">
    <meta property="og:image:alt" content="Familia Soñora">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Familia Soñora">
    <meta name="copyright" content="Copyright 2022. Familia Soñora. Todos los derechos reservados.">
    <meta name="description" content="Familia Soñora. Bienvenidos a nuestra familia.">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="author" content="Santiago Soñora">
    <meta name="application-name" content="Familia Soñora's website">
    <meta name="datecreated" content="Mon, 19 October 2019 00:00:00 GMT-3">
    <meta name="revisit-after" content="5 days">
    <title>Familia Soñora</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp">
</head>
<body onclick="tema()">
    <div class="principal">
        <div class="container">
            <div class="family">
                <span class="material-icons-outlined orange">girl</span>
                <span class="material-icons-outlined green">woman</span>
                <span class="material-icons-outlined red">emoji_people</span>
                <span class="material-icons-outlined orange">girl</span>
            </div>
            <h1 class="text">Bienvenidos al sitio de la familia Soñora.</h1>
        </div>
        <footer>
            <hr>
            <span><a href="mailto: santiagosonora@gmail.com">Contacto</a></span>
        </footer>
    </div>
    <script>
        function tema() {
            document.body.classList.toggle("oscuro");            
        }
    </script>
</body>
</html>
